Werkzeug==2.2.2
widgetsnbextension==4.0.3
WTForms==3.0.1
wtforms-validators==1.0.0
python-dotenv==0.21.0
SQLAlchemy==1.4.44
Jinja2==3.1.2
itsdangerous==2.1.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
flask-change-password==0.0.7
Flask-Ext==0.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
Flask==2.2.2