.footer {
    background-color: #777;
    display: block;
    height: 250px;
    margin-top: 0px;
    
}

.footer-container {
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    margin-left: 30px;
    text-align: center;
    
}

.footer-box {
    color: blanchedalmond;
    display: inline;
    margin-top: 10px;
}

/*.main>.box-footer{
    justify-content: center;
    display: block;
    width: 300px;
    text-align: center;
    background-color: black;

}
*/

.footer-box h3{
    color: #0000ff;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 10px;

}
.footer-box p{
    color: beige;
    font-size: 1.1rem;
    line-height: 170%;
    justify-content: center;
    margin-top: 10px;
}

.footer-bottom{
    margin-left: 200px;
}
.footer-bottom h3{
    color: #0000ff;
    margin-top: 10px;
}

.footer-bottom ul li {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    /*padding: 5px 0px;*/
    transition: 0.4s ease;
    padding-top: 15px;
}
.footer-bottom ul li a {
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: green;
    font-weight: bold;
    transition: 0.4s ease;
    
}
.footer-bottom ul li a:hover{
    color: yellow;
    font-size: 1.5rem;
    
}

.copyright {
    color: #fff;
    margin-left: 200px;
    justify-content: center;
    text-align: center;
    margin-top: -70px;

}
.copyright h3{
    color: blue;
    font-weight: 700;
    font-size: 1.3rem;
}
.copyright p{
    color: beige;
    font-size: 1.1rem;
    line-height: 180%;
    justify-content: space-evenly; 
    margin-top: 10px; 

}


