<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="GigRecommender">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta name="description" content="GigRealEstate">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Gig Real Estate</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    </head>
    <body>
        <footer class="footer" id="footer">

            <div class="main">
                <div class="box-footer">
                    <h3>Contacts</h3>
                    <p>info@GigRealEstate.com</p>
                    <p> 3<sup>rd</sup> floor Parklands Plaza Building,<br>
                       Westlands; Nairobi, Kenya.<br>
                       P.O.BOX 117-2341.<br>
                    </p>
                </div>
                <div class="footer-box">
                    <h3>Gig Links</h3>
                    <ul class="supported-links">
                        <li><a href="{{url_for('services')}}">Services</a></li>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('login')}}">Login</a></li>
                    </ul>
                </div>
                <div class="copyright-box">
                    <h3>Copyright</h3>
                    <p><p>Created and Managed By Benson Kimani&trade;<br>
                        Gig Real Estate Company&copy;. All Rights Reserved.<br>
                    </p>
                </div>
            </div>

        </footer>


    </body>
</html>