{% extends 'base.html' %}
{% include 'header.html' %}

{% block content %}
<section class="home">
    <div class="home-container">
        <div class="word-box">
            <h1>WELCOME TO GIG REAL ESTATE</h1>
            <p>Gig is a kenyan real estate company that focuses on buying and selling of prime plots, building houses,<br>
            renting and selling houses. The company is based in Nairobi. The company was established on 23<sup>rd</sup> November 2020.<br>
            
          </p>
        </div>

    </div>

</section>

{% include 'footer.html' %}

{% endblock content %}
