<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/services.css')}}">
</head>
{% extends 'base.html' %}
{% include 'header.html' %}

{% block content %}
<div class="services-container">
        <div class="first-container">
            <div class="list-box">
                <p>Gig real estate is a <span>Nation-wide</span> company but it has put alot emphasies in the some counties. Gig operates and has ongoing projects in the following 12 counties;</p>
                <ul>
                    <li>Nairobi county</li>     
                    <li>Meru county</li>
                    <li>Kiambu county</li>      
                    <li>Kajiado county</li>     
                    <li>Machakos county</li>    
                    <li>Nakuru county</li>      
                    <li>Mombasa county</li>     
                    <li>Uasin Gishu county</li>
                    <li>Muranga county</li>
                    <li>Embu county</li>
                    <li>Kisumu county</li>
                    <li>Siaya county</li>
                    <li>Homabay county</li>
                    <li>Laikipia county</li>                              
                </ul>
            </div>
        </div>
</div>

{% include 'footer.html' %}

{% endblock content %}